.news {
    width: 100%;
    max-width: 1200px;
    height: 720px;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 120px 30px #bba6a6, inset 0 0 120px 10px #868484;
}

.news iframe {
    width: 95%;
    height: 90%;
    border-radius: 20px;
}
